@import './colors.scss';

.section {
    margin: 0px 0px 10px 0px;
}

.sectionTitleBar {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: $Tema-de-color-30-4-hex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 5px 7px 5px 7px;

    background-color: $Tema-de-color-30-4-hex;
    color: $Tema-de-color-30-5-hex;

    font-weight: 400;
    font-size: 0.7rem;
}

.sectionContent {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: $Tema-de-color-30-4-hex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 5px 7px 5px 7px;

    
}

.capability {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    border-bottom: 1px solid $Tema-de-color-30-4-hex;
    margin: 0rem 0rem 0.5rem 0rem;

    &:last-of-type {
        border-bottom: 0px solid $Tema-de-color-30-4-hex;
        margin: 0rem 0rem 0rem 0rem;
    }
}

.capabilityDescription {
    width: 15rem;
    flex: 0 1 auto;

    h3 {
        font-weight: 400;
        margin-top: 0.7rem;
        margin-bottom: 0rem;
    }

    span {
        font-size: 0.6rem;
    }
}

.behaviors {
    flex-grow: 1;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.behavior {
    box-sizing: border-box;
    width: 100%;

    padding: 0.2rem calc(0.4rem - 1px) 0.2rem 0rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;


    button {
        width: 7rem;
    }

    span {
        display: block;
        flex-grow: 2;
        flex-shrink: 2;
        margin-left: 0.4rem;

        font-size: 0.8rem;

        
    }

    &:nth-child(even) {
        background-color: $Tema-de-color-30-6-hex;
    }

    &Input {
        @extend .behavior;
        justify-content: space-between;
    }
}

.level {
    text-align: right;
}

.levelInput {
    text-align: right;
}

.nameInput {
    width: 100%;
}
