/* Color Theme Swatches in Hex */
$Tema-de-color-30-1-hex: #FF896A;
$Tema-de-color-30-2-hex: #F5D1C3;
$Tema-de-color-30-3-hex: #F7F3F0;
$Tema-de-color-30-4-hex: #B3D9E3;
$Tema-de-color-30-5-hex: #5B7594;

/* Color Theme Swatches in RGBA */
$Tema-de-color-30-1-rgba: rgba(255,137,106, 1);
$Tema-de-color-30-2-rgba: rgba(245,209,195, 1);
$Tema-de-color-30-3-rgba: rgba(247,243,240, 1);
$Tema-de-color-30-4-rgba: rgba(179,217,227, 1);
$Tema-de-color-30-5-rgba: rgba(91,117,148, 1);

/* Color Theme Swatches in HSLA */
$Tema-de-color-30-1-hsla: hsla(12, 100, 70, 1);
$Tema-de-color-30-2-hsla: hsla(16, 71, 86, 1);
$Tema-de-color-30-3-hsla: hsla(25, 30, 95, 1);
$Tema-de-color-30-4-hsla: hsla(192, 46, 79, 1);
$Tema-de-color-30-5-hsla: hsla(212, 23, 46, 1);

body {
    background: $Tema-de-color-30-3-hex;
}

h1 {
    color: $Tema-de-color-30-5-hex;
    text-align: center;
}

