@import './colors.scss';

html {
    font-size: 20px;
}

body {
    background: $Tema-de-color-30-3-hex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    font-family: Roboto;
}

h1 {
    color: $Tema-de-color-30-5-hex;
    text-align: center;
    font-size: 2rem;
}

