@import './colors.scss';

html {
    font-size: 20px;
}

body {
    background: $Tema-de-color-30-3-hex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    font-family: Roboto;
    margin: 0px;
    color: $Tema-de-color-30-5-hex;
}

h1 {
    color: $Tema-de-color-30-5-hex;
    text-align: center;
    font-size: 2rem;
}

button {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 8px 12px 8px 12px;

    font-size: 0.6rem;
}

input {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 4px;

    font-size: 0.8rem;
}