@import './colors.scss';

.pageContainer {
    width: 100vw;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.bodyContainer {
    width: 100vw;

    display: flex;
    justify-content: space-around;
}

.bodyContent {
    width: 1280px;
}


