@import './colors.scss';

.pageContainer {
    width: 100vw;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.bodyContainer {
    width: 100vw;

    display: flex;
    justify-content: space-around;
}

.bodyContent {
    width: 1280px;
}

.navBar {
    height: 50px;
    width: 100vw;

    display: flex;
    justify-content: space-around;

    background-color: $Tema-de-color-30-5-hex;
}

.navBody {
    width: 1280px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    
}

.appTitle {
    margin: 0px;

    font-size: 1.5rem;
    font-weight: 900;

    color: $Tema-de-color-30-3-hex;
}